body:hover > #trailer {
  opacity: 1;
}
.color-dodge {
  mix-blend-mode: difference;
}

#trailer {
  height: 30px;
  width: 30px;
  background-color: white;
  mix-blend-mode: difference;
  border-radius: 20px;

  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 10000;

  pointer-events: none;
  opacity: 0;
  transition: opacity 500ms ease;

  display: grid;
  place-items: center;
}

#trailer:not([data-type=""]) > #trailer-icon {
  opacity: 1;
}

#trailer-icon {
  font-size: 6px;
  line-height: 4px;

  opacity: 0;
  transition: opacity 400ms ease;
}

.interactable {
  /* aspect-ratio: 1 / 1.5;
  width: clamp(120px, 40vmin, 600px); */
  background-position: center 50%;
  background-size: 100%;
  /* opacity: 0.4; */

  transition: background-size 400ms ease, opacity 400ms ease;
}

.interactable:hover {
  background-size: 105%;
  /* opacity: 0.8; */
}

/* -- YouTube Link Styles -- */

body.menu-toggled > .meta-link > span {
  color: rgb(30, 30, 30);
}

#source-link {
  bottom: 60px;
}

#source-link > i {
  color: rgb(94, 106, 210);
}

#yt-link > i {
  color: rgb(239, 83, 80);
}

.meta-link {
  align-items: center;
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  bottom: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: inline-flex;
  gap: 5px;
  left: 10px;
  padding: 10px 20px;
  position: fixed;
  text-decoration: none;
  transition: background-color 400ms, border-color 400ms;
  z-index: 10000;
}

.meta-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.meta-link > i,
.meta-link > span {
  height: 20px;
  line-height: 20px;
}

.meta-link > span {
  color: white;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

/* water */
.water {
  /* background: url("../images/empty.png"); */
  background: url("../images/1_water.png");
  width: 100%;
  height: 100vh;
  background-size: cover;
  bottom: 70px;
}

.water2 {
  background: url("../images/empty.png");
  /* background: url("../images/1_water.png"); */
  width: 100%;
  height: 100vh;
  background-size: cover;
  bottom: 70px;
}

.bg-img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: absolute;
}

/* slider */
.slider {
  display: flex;
  background-color: #5a87b6 !important;
  rotate: 1deg;
  width: 103vw;
  color: #fff;
  gap: 10rem;
  transform: translateX(-1rem);
}

.slider ul {
  display: flex;
  transform: translateX(-50%);
  gap: 10rem;
}

.slider ul li {
  font-size: 70px;
}
#section-text {
  padding-bottom: 0 !important;
}

/* wave */
#wave {
  margin-top: -100px;
  padding: 0 !important;
  opacity: 0.5;
  transform: translateY(50px);
  position: relative;
}

.svg-box {
  display: flex;
  animation: moveLeft 30s ease-in-out infinite;
  margin-top: -350px;
}

@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@media (max-width: 768px) {
  .water {
    visibility: hidden;
    background: url("../images/1.jpg");
  }
}
